
.title {
    color: #72035D;
    font-family: 'Open Sauce One', sans-serif;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 20px 0;
  }

.countDown {
    color: #000000;
    text-align: center;
    font-size: 8.5vw;
    margin:0;
}
